.header {
    background-color: #0b7c9e;
    font-size: 25px;
    color: white;
    text-align: center;

    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.header_pos {
    width: 1745px;
    height: 75px;
    float: left;
    
}

.nameSite {
    float: left;
    margin-left: 10px;
}

.login {
    float: left;
    position: absolute;
    right: 10px;
}

.Link{
    text-decoration: none;
    color: rgb(24, 20, 20);
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 14pt;

}