
.Table_pol{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 10px;
    margin-left:25px;
    margin-top: 20px;
}
.Table_head{
    color:black;
    background-color: burlywood;
    font-size: 10pt;
}
.Table_text{
    color:rgb(59, 27, 1);
    text-align: center;
}
.ButAdd{
    width: 35px;
    height: 15px;
    color: white;
    background-color: rgb(5, 168, 5);
    border-color: darkgreen;
}