
.Table_pol{
    display: flex;
    flex-direction: column;
    width: 98%;
    margin-right: 10px;
    margin-left:25px;
    margin-top: 20px;
}
.Table_head{
    color:black;
    background-color: burlywood;
}
.Table_text{
    color:rgb(59, 27, 1);
}