.BlockARch{
background-color: rgb(142, 152, 153);
position: relative;
width: 100%; 
min-height: 150px;
margin-top: 10px;
border-radius: 15px;
}
.ButSPR{  
border-radius: 15px;
height: 80px;
position: relative;
left: 40%;
}
.ButSPR_down
{  
    left: 44%;
    }


.Ps_st{
    margin-top: 70px;
    align-items: center;
    position: flex;
    background-color: rgb(136, 110, 90);
    border-radius: 15px;
    min-width: 15%;
   min-height: 100px;
    left: 35%;
    resize:none;
    border-style: solid;
    border-color:rgb(110, 88, 71); ;
}
.Ps_from{
    position: fixed;
    background-color: rgba(56, 107, 131, 0.596);
    width: 100%;
    height: 100%;
    z-index:10000;
    top:0;
    bottom:0;
    left:0;
    right:0 ;
}
.label_posit{
    text-align: center;
    padding-top: 5px;
    color: rgb(36, 3, 3);
    font-weight: 550;
}
.But{
    position: relative;
    left:40%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 25px;
}
.txt{
    color: black;
    position: relative;
    text-align: left;
    margin-left: 10px;
}
.CloseBut{
    margin-left: 15px;
}
.TheHead{
    font-size: 10pt;
    border: 2px solid rgb(24, 1, 1);
    padding: .1em 1em;
    color: rgb(1, 1, 37);
    resize:none;
}
.THeHeadBack{
    background-color: rgb(207, 182, 127);
}
.TheBodyBack{
    background-color: rgb(177, 173, 165);
}
.Edit_pc{
    position: relative;
    width: 30px;
    height: 10px;
    margin-bottom: 10px;
}
.Table_tabl{
    margin-left: 10px;
    border-collapse: collapse;
}
.forNaim{
    width: 23%;
    margin-left: 650px;
}
.forPc{
    width: 520px;
    margin-left: 600px;
    
}
.forKontr{
    width: 1330px;
    margin-left: 150px;
    
}
.forFrom{
    width: 300px;
    margin-left: 700px;
    
}
.forSyst{
    width: 330px;
    margin-left: 700px;
    
}
.forOtd{
    width: 350px;
    margin-left: 700px;
    
}
.forSKZI{
    width: 720px;
    margin-left: 570px;
    
}
.forPers{
    width: 650px;
    margin-left: 570px;
    
}
.forContr{
    width: 330px;
    margin-left: 700px;
    
}