.App {
    background-color: #afbebe;

    width: 100%;
    min-height: 100vh;
    height: 100%;
    
    overflow: auto;
    color: white;
    display:flex;
    flex-direction: row;
}


.input_global {
    width: 250px;

    justify-self: center;
    align-self: center;

    border: 1px solid rgb(20, 83, 143);
    box-shadow: 0 0 3px rgb(100, 100, 100);
    transition: all 0.2s;
}

.input_global:hover{
    border: 1px solid rgb(20, 83, 143);
    box-shadow: 0 0 7px rgb(36, 123, 173);
}

.input_global:active{
    border: 1px solid rgb(20, 83, 143);
    box-shadow: 0 0 7px rgb(36, 123, 173);
}
