.BlockARch{
    background-color: rgb(142, 152, 153);
    position: relative;
    width: 100%; 
    height: 150px;
    margin-top: 10px;
    border-radius: 15px;
    
    }
    
    .Ps_sts{
        margin-top: 100px;
        
        position: fixed;
        background-color: rgb(136, 110, 90);
        border-radius: 15px;
        
        width: auto;
        height: auto;
        left: 50%;
        border-style: solid;
        border-color:rgb(110, 88, 71); ;
        align-items: center;
    }
    .Ps_froms{
        position: fixed;
        background-color: rgba(56, 107, 131, 0.596);
        width: 100%;
        height: 100%;
        z-index:10000;
        top:0;
        bottom:0;
        left:0;
        right:0 ;
    }
   
    .Buts{
        position: relative;
        left:35%;
        border-radius: 15px;
        margin-top:10px;
        margin-bottom: 10px;
        
    }
    .txt{
        color: black;
        position: relative;
        text-align: left;
        margin-left: 10px;
    }
    .CloseBut{
        margin-left: 15px;
    }
    .TheHead{
        font-size: 10pt;
    }
    .txtar{
        position: relative;
        left:9%;
        resize:none;

    }
    .label-posits{
        color: rgb(70, 32, 4);
        font-size: 14pt;
        font-weight: 600;
        text-align: center;
    }
    .SelectPole{
        margin-right: 5px;
    }
    .forKont{
        width: 210px;
    }
    .froms{
        width: 250px;
    }
    .systemsss{
        width: 220px;
    }